@import "../../styles/layout.scss";

.header {
  height: 60px;
  background-color: #303032;
  color: #f1f2f2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 1px #858585;
}

.rightContainer {
 font-size: 20px;
   display: flex;
   align-items: center;
}

.leftContainer {
    display: flex;
    align-items: center;
}


.logo {
  width: 75px;
  height: 50px;
  margin-right: 5px;
}

.name {
  font-size: 25px;
}

.userName {
width:120px;
 margin-right:20px;
}

.logoutButton {
    cursor: pointer;
    width:60px;
}

.logoutButton:hover {

}